:root {
    --purple: rgb(85, 85, 131);
    --grey: rgb(75, 75, 75);
    --dark-grey: rgb(50, 50, 50);
    --light-grey: #eeeeee;
    --red: rgb(215, 80, 80);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}

h1 {
    font-size: 3em;
}

a {
    text-decoration: none;
    color: black;
}

header {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--dark-grey);
}

.listContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px auto;
}

.detailsContainer {
    margin: 2em auto;
    max-width: 900px;
    background: var(--light-grey);
    border-radius: 20px;
    padding: 30px;
}

.contactContainer {
    max-width: 900px;
    margin: 2em auto;
    background: var(--light-grey);
    border-radius: 20px;
    padding: 30px;
}

.detailsContainer img {
    width: 49.7%;
}

.card {
    text-align: center;
    color: white;
    background: var(--purple);
    padding-bottom: 10px;
    border-radius: 10px;
    margin: auto;
}

.card:hover {
    background: var(--dark-grey);
}

.card h2 {
    margin-bottom: auto;
}

.card p {
    margin-top: auto;
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    background: var(--purple);
    color: white;
    padding: 10px 25px;
    margin: 5px auto;
}

.header p {
    max-width: 500px;
    margin-right: 15px;
}

.btn {
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 10px;
    color: white;
}

.btn:hover, .btn-details:hover {
    background: var(--dark-grey);
}

.btn-home {
    background: var(--purple);
}

.btn-contact {
    background: var(--grey);
}

.btn-details {
    color: white;
    font-size: 1.3em;
    background: var(--grey);
    padding: 35px;
    margin: auto 0 auto auto;
}

.error {
    padding: 20px 25px;
    background: var(--red);
    color: white;
}

.loading {
    margin: auto;
    border: 10px solid var(--light-grey);
    border-top: 10px solid var(--purple);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid var(--grey);
}

#formSubmit {
    padding: 20px 70px;
    margin-top: 2em;
    font-size: 1em;
    background: var(--purple);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

#validationMessage {
    display: none;
    width: fit-content;
    padding: 15px 100px;
    margin: auto auto 15px auto;
    border-radius: 10px;
    background: rgba(0, 128, 0, 0.2);
    border: 1px solid green;
}

.form-error {
    display: none;
    color: var(--red);
    font-weight: 600;
}